<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>写真を選択してムービーを作成するために使用します。</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>作成したムービーをカメラロールに保存するために使用します。</string>
</dict>
</plist> 